<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CallCenterMotivationCalc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CallCenterMotivationCalc.Properties.Settings>
            <setting name="EmployeesListSheetName" serializeAs="String">
                <value>ИЦ</value>
            </setting>
            <setting name="EmployeesListFirstRow" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="EmployeesListShortnameColumn" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="EmployeesListFullnameColumn" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="EmployeesListPositionColumn" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="EmployeesListSalaryColumn" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="EmployeesListRateColumn" serializeAs="String">
                <value>G</value>
            </setting>
            <setting name="EmployeesListPfrColumn" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="TimetablePlanSheetName" serializeAs="String">
                <value>Лист1</value>
            </setting>
            <setting name="TimetablePlanFirstRow" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="TimetablePlanShortNameColumn" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="TimetablePlanTotalHoursColumn" serializeAs="String">
                <value>AI</value>
            </setting>
            <setting name="TimetableFactSheetName" serializeAs="String">
                <value>стр1</value>
            </setting>
            <setting name="TimetableFactFirstRow" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="TimetableFactShortNameColumn" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="TimetableFactTotalHoursColumn" serializeAs="String">
                <value>U</value>
            </setting>
            <setting name="TimetableFactFirstDayColumn" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="TimetableFactLastDayColumn" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="TimetableFactNightHoursColumn" serializeAs="String">
                <value>V</value>
            </setting>
            <setting name="OperatorsQualitySheetName" serializeAs="String">
                <value>сотрудники</value>
            </setting>
            <setting name="OperatorsQualityFirstRow" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="OperatorsQualityFullNameColumn" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="OperatorsQualityAverageScoreColumn" serializeAs="String">
                <value>I</value>
            </setting>
            <setting name="OperatorsQualityStandardValue" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="OperatorsQualityDesiredValue" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="OperatorsQualityMaxCoefficient" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="OperatorsWorktimeSheetName" serializeAs="String">
                <value>исходные</value>
            </setting>
            <setting name="OperatorsWorktimeFirstRow" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="OperatorsWorktimeFullNameColumn" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="OperatorsWorktimeTotalCallsTimeColumn" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="OperatorsWorktimeRemainingTimeColumn" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="OperatorsWorktimePauseTimeColumn" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="OperatorsWorktimeStandardValue" serializeAs="String">
                <value>0.35</value>
            </setting>
            <setting name="OperatorsWorktimeDesiredValue" serializeAs="String">
                <value>0.45</value>
            </setting>
            <setting name="OperatorsWorktimeMaxCoefficient" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="AcceptedAndMissedCallsSheetName" serializeAs="String">
                <value>statistics</value>
            </setting>
            <setting name="AcceptedAndMissedCallsFirstRow" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="AcceptedAndMissedCallsDateTimeColumn" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="AcceptedAndMissedCallsTotalCallsColumn" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="AcceptedAndMissedCallsMissedCallsColumn" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="AcceptedAndMissedCallsWrongCallsColumn" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="AcceptedAndMissedCallsStandardValue" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="AcceptedAndMissedCallsDesiredValue" serializeAs="String">
                <value>0.07</value>
            </setting>
            <setting name="AcceptedAndMissedCallsMaxCoefficient" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="AcceptedAndMissedCallsMorningLastHour" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AcceptedAndMissedCallsNightFirstHour" serializeAs="String">
                <value>22</value>
            </setting>
        </CallCenterMotivationCalc.Properties.Settings>
    </userSettings>
</configuration>